# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Grad_project\Deployment-Deep-Learning-Model-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
